@import "global.less";

#animated-cube {
  
  .iconsky {
    width: 3em;
    height: 3em;
    display: inline-block;
    mask-size: cover;
    -webkit-mask: url(../assets/icons/folder.svg) no-repeat 100% 100%;
    mask: url(../assets/icons/folder.svg) no-repeat 100% 100%;
    -webkit-mask-size: cover;
    background-color: @greenHighlight;
  }
}