@import "global.less";

#animated-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  .icon-container {
    .icon {
      width: 6rem;
      height: 6rem;
    }
  }
}