@import "global.less";

.icon-container {
  padding-left: .5rem;
  padding-right: .5rem;

  .cube {
    -webkit-mask: url(../assets/icons/cube.svg);
    mask: url(../assets/icons/cube.svg);
  }
  
  .folder {
    -webkit-mask: url(../assets/icons/folder.svg);
    mask: url(../assets/icons/folder.svg);
  }
  
  .mail {
    -webkit-mask: url(../assets/icons/mail.svg);
    mask: url(../assets/icons/mail.svg);
  }
  
  .github {
    -webkit-mask: url(../assets/icons/github.svg);
    mask: url(../assets/icons/github.svg);
  }
  
  .linkedin {
    -webkit-mask: url(../assets/icons/linkedin.svg);
    mask: url(../assets/icons/linkedin.svg);
  }
  
  .green-highlight {
    background-color: @greenHighlight;
  }
  
  .off-white {
    background-color: @offWhite;
  }
  
  .minty-green {
    background-color: @lightMintyGreen;
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    margin: auto;
    display: inline-block;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: 50% 50%;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
  }

}