@import './global.less';

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  min-height: 30vh;
  margin-bottom: @sectionMargin;
  
  h1 {
    color: @lightMintyGreen;
    margin: 0;
  }

  span {
    color: @lightMintyGreen;
    font-weight: bold;
  }

 .intro-container{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      max-width: 600px;
      text-align: center;
    }
    padding-bottom: 1.5rem;
  }

  @media screen and (min-width: 800px){
    .intro-container {
      flex-direction: row;
    }
  }

}